.college {
  display: grid;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 20px;
    grid-template-columns: 1fr 3fr;

  border-radius: 4px;
  width: 100%;
}

.college__image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center!important;
  align-items: center!important;
}

.college__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: center!important;
}

.college__info {
  /*margin-left: 20px;*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start!important;
}

.college__info__title {
  font-size: 23px;
  margin-bottom: 8px;
}

.college__info__subtitle {
  font-size: 16px;
  margin-bottom: 5px;
}

.college__info__des {
  font-size: 14px;
}
@media screen and (max-width: 756px ) {
  .college {


    grid-template-columns: 1fr ;
    place-items: center;

}
  .college__image {
  display: none;
}
  .college__info {
  /*margin-left: 20px;*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start!important;
}

}