.contact {
    display: flex;
    flex-direction: column;
    position: relative;

}

.contact__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin: 0 auto;
    gap: 1rem;


}

.contact__other {
    width: 100%;
    padding: 1rem;
    backdrop-filter: blur(20px);
    border-radius: 6px;
    display: grid;
    gap: 2rem;
    justify-content: center;


}
.contact__other__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid rgb(100,255,218,0.4);
    padding: 2rem;
       border-radius: 8px;
    min-width: 330px;

}
.contact__other__option__icon {
    color: var(--color-primary);

}
.contact-title {
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.contact-subtitle {
    letter-spacing: 2px;
}


.contact__form {
    width: 100%;
     /*border: 1px solid rgb(100,255,218,0.4);*/
    display: flex;
    flex-direction: column;

    padding: 1rem;
    /*background: rgba(100,255,218,0.3);*/
    backdrop-filter: blur(20px);
    gap: 1rem;
}


.contact__form__form__controll {
    margin-bottom: 20px;
}

.contact__form__label {

    color: var(--font-color);
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 2.5px;
}
.contact__form__label__primary {

    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 2.5px;

    color: var(--color-primary);

}
.contact__form__input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: var(--font-color);
    border-radius: 3px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2.5px solid #ccc;
    transition: all 0.2s ease-in;
}



.contact__form__input:focus  {
    outline: none;
    border-color: var(--color-primary);
}

/*.contact__form__input[type="submit"] {*/
/*    background-color: #1DB954;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*}*/

/*.contact__form__input[type="submit"]:hover {*/
/*    background-color: #1ed760;*/
/*}*/
.alert {
    background: var(--color-primary)!important;
    letter-spacing: 2px!important;
    font-size: 20px!important;



}