/* skills section starts */
.skills {
    min-height: 100vh;

}


.skills__container {
    /*background: rgba(255, 255, 255, 0.05);*/
    /*backdrop-filter: blur(8px);*/

    color: var(--font-color);
    border-radius: 1rem;

    /*width: 60%;*/
    margin: 0 auto;
    padding: 3rem;

}


.skills__container__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.8rem;
}
@media (max-width: 992px) {
    .skills__container__row {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.7rem;
    }

    .skills__container {


        width: 90%;
         padding: 2.5rem;


    }
}
@media (max-width: 768px) {
    .skills__container__row {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .skills__container {


        width: 100%;
         padding: 1rem;


    }
}

@media (max-width: 576px) {
    .skills__container__row {
        grid-template-columns: repeat(3, 1fr);
    }
}