.title__container {
    margin: 5rem 0 5rem 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__line {
    display: flex;
    align-items: center;
}

.title__container__title__line {

    width: 25vw;
    height: 1px;
    background-color: rgba(153, 226, 230, 0.5);;

    margin: 0 auto;
}

.title__container__title {
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--color-primary);
    opacity: 0.85;
    padding: 0 30px;
    font-weight: 600;
    letter-spacing: 5.5px!important;
}

.title__container__subtitle {
    font-size: 25px;
    letter-spacing: 3px!important;

}

@media screen and (max-width: 992px) {
    .title__container {
        margin: 5rem 0 5rem 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    .title__container {
        margin: 6rem 0 4rem 0 !important;


    }

    .title__container__title {
        font-size: 35px;

    }
    .title__container__subtitle {
    font-size: 22px;

}

}

@media screen and (max-width: 576px) {
    .title__container {
        margin: 4rem 0 3rem 0 !important;


    }

    .title__container__title {
        font-size: 30px;

    }
    .title__container__subtitle {
    font-size: 20px;

}
}
