@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');


/*font-weight: bold;*/

* {
    /*box-sizing: border-box;*/
    margin: 0;
    list-style: none;
    text-decoration: none;
    /*color: #64FFDA*/

}


:root {
    --color-bg: rgb(10, 16, 41);
    /*--color-primary: rgb(153, 226, 230);*/

    /*--color-primary: rgb(100,255,218);*/
    --color-primary: #64FFDA;
    --font-color: rgb(210, 217, 244);


}

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

html {
    scroll-behavior: smooth;
}

body {
    color: var(--font-color);
    background: var(--color-bg);


    margin: 0;
    font-family: 'Sora', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

