@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

/*font-weight: bold;*/

* {
    /*box-sizing: border-box;*/
    margin: 0;
    list-style: none;
    text-decoration: none;
    /*color: #64FFDA*/

}

:root {
    --color-bg: rgb(10, 16, 41);
    /*--color-primary: rgb(153, 226, 230);*/

    /*--color-primary: rgb(100,255,218);*/
    --color-primary: #64FFDA;
    --font-color: rgb(210, 217, 244);


}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--font-color);
    background: var(--color-bg);


    margin: 0;
    font-family: 'Sora', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;


}

.button {
    /*padding: 8px 20px!important;*/
    width: max-content !important;
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
    font-size: 13px !important;
    color: var(--font-color) !important;
    background-color: transparent !important;

    border-radius: 6px !important;

    margin-right: 10px !important;
    border: 1px solid rgba(100,255,218,0.7) !important;
    transition: all 0.2s ease-in;
}

.button:hover {
    background-color: rgba(153, 226, 230, 0.2) !important;
    color: white !important;

}

/*@media screen and (max-width: 1024px){*/
/*.container {*/

/*}*/
@media screen and (max-width: 1200px) {
    .container {


        margin: 0 auto;
        width: 85%;


    }
}

@media screen and (max-width: 992px) {
    .container {


        max-width: 900px;

        margin: 0 auto;
        width: 85%;

        padding: 0 10px;


    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;

    }
}

@media screen and (max-width: 576px) {
    .container {
        margin: 0 auto;
        width: 80%;


    }
}
