@font-face {
 font-family: "Sora";
 src: local("Sora"),
  url("./fonts/Sora-Regular.ttf") format("truetype");

 /*font-weight: bold;*/
}

* {
    box-sizing: border-box;


}
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(10, 16, 41);
    color: rgb(210, 217, 244);

    margin: 0;
    font-family: Sora, "serif";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
